body{
    font-family: Calibri, Helvetica, Arial, sans-serif;
    padding: 50px;
    line-height: 80px;
}

p {
    font-size: 14px;
}
@media (min-width: 1200px) {
    body{
        width: 600px !important;
    }
}
